@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --mainBlue: #00bdfe;
  --mainBlack: #212741;
  --lightBlue: #f2fbff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/banner-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 140vh;
  position: relative;
}

header > nav {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar {
  width: 90%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > ul {
  background-color: var(--mainBlue);
  color: white;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 40px;
}

.dropdown {
  position: relative;

  height: 100%;
  display: grid;
  place-items: center;
}

.dropdown_content {
  visibility: hidden;

  position: absolute;
  border: 1px solid black;
  top: 100px;
  list-style-type: none;
  color: black;
  border: none;
  overflow: hidden;
  background-color: rgb(243, 241, 241);
}

.dropdown:hover .dropdown_content {
  visibility: visible;
  top: 70px;
  transition: 0.2s ease;
}

.dropdown_content > li {
  padding: 10px;
  transition: 0.5s ease;
  background-color: rgb(243, 241, 241);
}

.dropdown_content > li:nth-child(1) {
  border-bottom: 1px solid rgb(243, 241, 241);
}

.dropdown_content > li:hover {
  transform: translateX(10px);
  color: var(--mainBlue);
  cursor: pointer;
}

.navbar > ul > li {
  cursor: pointer;
}

.text0:hover {
  cursor: pointer;
}

.navbar > button {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid var(--mainBlue);
  color: var(--mainBlue);
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.5s ease;
}

.navbar > button:hover {
  cursor: pointer;
  background-color: var(--mainBlue);
  color: white;
}

.navbar > i {
  display: none;
  font-size: 2rem;
}

.main_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  display: grid;
  place-items: center;
}

.main_banner > h2 {
  color: white;
  font-size: 64px;
  text-align: center;
}

.main_banner > p {
  color: white;
  font-size: 15px;
  line-height: 28px;
  padding: 30px 0;
  border-top: 1px solid rgb(243, 241, 241);
  margin: 40px auto;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.button_container > button {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: transparent;
  color: #f2fbff;
  border-color: #f2fbff;
  transition: 0.5s ease;
}

.button_container > p {
  font-size: 15px;
  color: #f2fbff;
  transition: 0.5s ease;
}

.button_container > button:hover {
  background-color: #f2fbff;
  color: var(--mainBlue);
  cursor: pointer;
}

.button_container > p:hover {
  color: var(--mainBlue);
  cursor: pointer;
}

.photo_section {
  width: 90%;
  margin: auto;
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.photo_container {
  height: 300px;
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.photo_container > img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.803);
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.overlay > h3 {
  color: var(--mainBlue);
}

.overlay > ul {
  list-style-type: none;
}

.overlay > ul > li {
  margin: 10px 0;
  font-weight: 600;
}

.photo_container:hover .overlay {
  height: 100%;
}

.categories_section {
  width: 90%;
  margin: auto;
  padding-bottom: 3rem;
}

.discover_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover_title > p {
  color: var(--mainBlue);
}

.discover_container > button {
  border-radius: 10px;
  background-color: var(--mainBlue);
  color: white;
  border: 1px solid var(--mainBlue);
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;

  overflow: hidden;
}

.discover_container > button:hover {
  background: transparent;
  border: 1px solid var(--mainBlue);
  color: var(--mainBlue);
  outline: none;
}

.topic_container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.topic {
  max-width: 350px;
  padding: 2rem 1rem;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.contest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contest > img {
  padding: 15px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.contest_box > h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.number {
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 8px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #00bdfe;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 6%);
  margin-right: 10px;
}

.contest_box > p {
  color: #afafaf;
}

.img_action {
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
}

.img_action > img {
  width: 100%;
  border-radius: 15px;
}

.overlay_contest {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  color: var(--mainBlue);
  background: transparent;
  position: absolute;
  transform: translateY(-3rem);
  width: 100%;
  transition: 0.3s ease;
}

.overlay_contest > p {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.img_action:hover .overlay_contest {
  transform: translateY(1rem);
}

.topic > button {
  padding: 20px 0;
  width: 100%;
  font-size: 15px;
  background-color: white;
  color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease;
}

.topic > button:hover {
  background-color: var(--mainBlue);
  color: white;
}

.contest_section {
  padding: 4rem 0;

  background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/closed-bg.jpg);
}

.contest_section > h6 {
  text-align: center;
  font-size: 15px;
  color: var(--mainBlue);
  font-weight: 500;
}

.contest_section > h4 {
  text-align: center;
  font-size: 30px;
  color: var(--mainBlue);
  font-weight: 600;
  margin: 10px 0 50px;
}

.contest_container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.competition {
  width: 430px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.reaction {
  position: absolute;
  transform: translateY(-4rem);
  padding: 1rem 0;

  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
  transition: 0.5s ease;
}

.reaction > p {
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--mainBlue);
  background-color: white;
}

.competition > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 270px;
  display: block;
}

.competition_info {
  background-color: white;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1.5rem 1rem;
  justify-content: space-between;
}

.competition_info > h5 {
  font-size: 18px;
  color: var(--mainBlack);
  font-weight: 500;
  margin-bottom: 1rem;
}

.competition_info > p {
  font-size: 15px;
  color: #afafaf;
  font-weight: 600;
}

.competition:hover .reaction {
  transform: translateY(1px);
}

.contest_section > button {
  font-size: 15px;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  background: transparent;
  display: block;
  margin: 2rem auto 0;
  border-radius: 10px;
  transition: 0.5s ease;
}

.contest_section > button:hover {
  background-color: var(--mainBlue);
  color: white;
  cursor: pointer;
}

.pricing_section {
  padding: 5rem 1rem;
  text-align: center;
}
.pricing_section > p {
  color: var(--mainBlue);
  font-size: 15px;
}

.pricing_section > h3 {
  color: var(--mainBlack);
  margin-top: 1rem;
  font-size: 30px;
}

.plans_container {
  display: flex;
  gap: 2rem;
  width: 90%;
  margin: 2rem auto 0;
  flex-wrap: wrap;
}

.plan {
  max-width: 450px;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  transition: 0.5s ease;
  flex-grow: 1;
}

.plan > h4 {
  font-size: 20px;
  margin: 2rem 0;
}

.plan_line {
  height: 1px;
  background-color: lightgray;
}

.plan > ul {
  list-style-type: none;
  margin: 1.5rem 0;
}

.plan > ul > li {
  margin: 7px 0;
  color: var(--mainBlue);
}

.disabled {
  color: #afafaf !important;
  text-decoration: line-through;
}

.plan > h1 {
  color: var(--mainBlue);
  font-size: 30px;
  margin-bottom: 2rem;
}

.plan > button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: white;
  color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 10px;
  transition: 0.5s ease;
}

.plan:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid white;
}

.plan > button:hover {
  background-color: var(--mainBlue);
  color: white;
  cursor: pointer;
}

footer {
  padding: 1.8rem 0;
  background-color: var(--mainBlue);
  color: white;
  text-align: center;
  font-size: 15px;
}

footer p a {
  font-weight: 700;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .navbar > ul,
  .navbar > button {
    display: none;
  }

  .navbar > i {
    display: block;
  }

  .button_container {
    flex-direction: column;
    gap: 2rem;
  }

  .photo_container:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .photo_container:nth-child(1) {
    margin: auto;
  }

  .photo_container:nth-child(3) {
    display: none;
  }

  .photo_section {
    top: -3rem;
  }
}
